---
---


$primary-color: #333;

body {
	font-family: "Courier New";
	font-size: 12px;
}
.display-none {
  display: none;
}
h1, h2, h3, h4, h5, p, div {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a {
	color: black;
}

a:hover {
	color: gray;
}
.container {
	min-height: 94vh;
  position: relative;
}
.title {
	position: absolute;
	bottom: 30px;
	right: 30px;
  text-align: right;
  h1 {
    font-family: 'helvetica', 'arial';
    font-weight: bold;
    font-size: 3.5em;
  }
  h2 {
    font-size: 3em;
  }
}
header {
  font-size: 8px;
  height: 80px;
}
.title.header {
  position: static;
  width: 80%;
  text-align: right;
  height: 50px;
  padding-top: 30px;
  max-width: 1000px;
  background-color: #fff;
  margin: auto;
  a {
    text-decoration: none;
  }
  h2 {
    font-size: 3em;
  }
  h2:nth-child(2) {
    margin-bottom: -5px;
  }
}

.projects,
.nav,
.contributions {
  margin-top: 30px;
  margin-left: 30px;
  a.active {
    color: gray;
  }
  h1 {
    font-family: 'helvetica', 'arial';
    font-weight: bold;
    font-size: 3.5em;
  }
  h2 {
    font-size: 3em;
  
    i {
    }
  }
  
  h3 {
    display: inline-block;
    font-family: 'helvetica', 'arial';
    margin: 0;
    font-weight: none;
  }
 
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-top: 0px;
  }
}
.content {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  .project-title {
    text-align: center;
  
    h1 {
      font-size: 3em;
      text-align: center;
      margin-bottom: 0;
    }
    a {
      font-size: 1.5em;
    }
  }
  .description {
    margin: 0 20px;
  }
  p {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
    margin: 10px 0;
  }
  #purpose-description {
    margin-top: 100px;
  }
  .site-picture img {
    max-width: 1000px;
    width: 100%;
  }
  .site-logo {
    width: 400px;
    margin: 0 auto;
  }
}
