$primary-color: #333;

body {
	font-family: "Courier New";
	font-size: 12px;
}

.container {
	min-height: 94vh;
  position: relative
}
.title {
	position: absolute;
	bottom: 30px;
	right: 30px;
  text-align: right;
  h1 {
  	margin:0;
  	font-weight: normal;
  	font-size: 3em;
  }
}
a {
	color:black;
}
a.active {
  color: gray;
}
a:hover {
	color: darkgray;
}
.projects {
  margin-top: 30px;
  margin-left: 30px;
  a {
    text-decoration: none;
    border-bottom: 1px solid black;
  }
  a.active {
    color: gray;
    border-bottom: 1px solid darkgray;
  }
  a:hover {
    border-bottom: 1px solid darkgray;
  }
  h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 3em;
  }
  
  h2 {
    font-weight:normal;
    margin: 0;
    display: inline-block;
    font-size: 2em;
  
    i {
    }
  }
  
  h3 {
    display: inline-block;
    font-family: 'helvetica', 'arial';
    margin: 0;
    font-weight: none;
  }
 
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-top: 5px;
  }
}
.content {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  h1 {
    font-size: 3em;
    text-align: center;
  }
  .site-picture img {
    max-width: 1000px;
    width: 100%;
  }
}