<header class="site-header">
  <div class="title header">
    <h1>Jeremy Axelrod</h1>
    <h2>Web Developer</h2>
    <h2><a href="#">axelrod.jeremy@gmail.com</a></h2> 
    <h2><a href="http://github.com/jeaxelrod">github.com/jeaxelrod</a></h2>        
    <h2>Berkeley, CA</h2>
  </div>
  <div class="projects">
    <h1>Projects</h1>
    <ul>
      <li>
        <h2><a href="/suppershare" id="suppershare" >SupperShare</a><h2>
      </li>
      <li>
        <h2><a href="/ulysses" id="ulysses">Ulysses</a></h2>
      </li>
      <li>
        <h2><a href="/personal-website-v1" id="personal-website-v1">Personal Website v1</a></h2>
      </li>
      <li>
        <h2><a href="/sandbox" id="sandbox">Sandbox</a></h2>
      </li>
    </ul>
  </div>

</header>
